body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}
.menu-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}
.menu-container h1 {
    margin-bottom: 30px;
    font-size: 24px;
}
.menu-container a {
    display: block;
    margin-bottom: 15px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    color: white;
}
.birthday-link {
    background-color: #ff7f7f; /* Red */
}
.engagement-link {
    background-color: #7f7fff; /* Blue */
}
.wedding-link {
    background-color: #7fff7f; /* Green */
}
.admission-link {
    background-color: #ffbf7f; /* Orange */
}
.back-link {
    margin-top: 20px;
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #7f7f7f; /* Grey */
    color: white;
    display: inline-block;
}